@import "./variable";
@mixin move($x, $y) {
	-webkit-transform: translate($x,$y);
	   -moz-transform: translate($x,$y);
	    -ms-transform: translate($x,$y);
	     -o-transform: translate($x,$y);
	        transform: translate($x,$y);
}
@mixin scale($times) {
	-webkit-transform: scale($times);
	   -moz-transform: scale($times);
	    -ms-transform: scale($times);
	     -o-transform: scale($times);
	        transform: scale($times);
}
@mixin transition($mul...) {
	-webkit-transition: $mul;
	   -moz-transition: $mul;
	    -ms-transition: $mul;
	     -o-transition: $mul;
	        transition: $mul;
}
@mixin transform($mul...) {
  -webkit-transform: $mul;
     -moz-transform: $mul;
      -ms-transform: $mul;
       -o-transform: $mul;
          transform: $mul;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
   color:    white;
   opacity:0.5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:0.5;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:0.5;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
   opacity:0.5;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing:border-box;
	font-family: My_Gothic;
  color: $default-color;
}

@font-face {
  font-family: My_Gothic;
  src: url(../font/DidactGothic.ttf); 
}

::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    // border-left: 1px solid #eee;
}
::-webkit-scrollbar-thumb {
    background-color: #eee;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
}

