$app-width: 900px;
$app-height: 600px;
$app-name-color: #eee;
$default-color: #eee;
$app-left-width: 250px;

$user-left-width: 250px;
$user-right-width: 600px;
$user-width: $user-left-width + $user-right-width;
$user-height: 550px;
$user-data-container-height: 0.7*$user-height;

$user-image-width: 50px;
$user-image-height: 50px;
$user-name-font-size: 30px;

$setting-image-width: 25px;
$setting-image-height: 25px;
$logout-image-width: 25px;
$logout-image-height: 25px;
$dropdown-image-width: 25px;
$dropdown-image-height: 25px;


$user-setting-image-width: 50px;
$user-setting-image-height: 50px;
$user-setting-image-preview-width: 50px;
$user-setting-image-preview-height: 50px;

$organization-item-image-width: 25px;
$organization-item-image-height: 25px;

$search-result-image-width: 50px;
$search-result-image-height: 50px;


$organization-detail-data-container-height:  0.787*$user-height;

$organization-setting-image-width: 50px;
$organization-setting-image-height: 50px;
$organization-setting-image-preview-width: 50px;
$organization-setting-image-preview-height: 50px;

$add-logo-image-width: 20px;
$add-logo-image-height: 20px;

$detail-member-image-width: 50px;
$detail-member-image-height: 50px;

$detail-notice-image-width: 550px;


$blue:#14B9D1;