$app-width: 900px;
$app-height: 600px;
$app-name-color: #eee;
$default-color: #eee;
$app-left-width: 250px;

$user-width: 250px;
$user-height: 520px;
$user-image-width: 50px;
$user-image-height: 50px;
$user-name-font-size: 30px;

$setting-image-width: 25px;
$setting-image-height: 25px;
$logout-image-width: 25px;
$logout-image-height: 25px;
$homeworks-image-width: 25px;
$homeworks-image-height: 25px;
$organizations-image-width: 25px;
$organizations-image-height: 25px;



$blue:#14B9D1;