@import "../modules/lib";
html {
  width: 100%;
  height: 100%;
  background:radial-gradient(ellipse farthest-corner at 45px 45px , #00FFFF 0%, #2385AE 50%, #42ABC8 100%);
  background-size: 100%;
}


