@import "../modules/variable";
@import "../modules/lib";

.detail-notices-list {
	list-style: none;
}

.detail-notice-item-container {
	border-bottom: 1px $default-color dashed;
	margin-bottom: 3px;
	.detail-notice-item-attribute-list {
		list-style: none;
		.detail-notice-content {
			text-indent: 15px;
		}
		.detail-notice-name,
		.detail-notice-start-date {
			float: right;
		}
		.attribute-name {
			display: inline-block;
			width: 100px;
		}
		.detail-notice-image {
    		max-width:$detail-notice-image-width;
		}
	}
}
.notice-item-look-button {
	// float: right;
	font-size: 13px;
    color: white;
    width: 50px;
    height: 20px;
    display: inline-block;
    outline: none;
    background: transparent;
    border:1px white solid;
    border-radius: 5px;
    &:hover {
      background: #13B8CF;
      border: 1px #ccc solid;
    }
}