@import "../modules/variable";
@import "../modules/lib";

.detail-members-list {
	list-style: none;
}

.detail-member-item-container {
	height: 90px;
	border-bottom: 1px $default-color dashed;
	margin-bottom: 3px;
	.detail-member-item-attribute-list {
		list-style: none;
		.detail-member-image-container {
			float: left;
			height: 80px;
			padding-right: 10px;
			.detail-member-image {
				width: $detail-member-image-width;
				height: $detail-member-image-height;
			}
			.up-button, .down-button {
				font-size: 13px;
			    color: white;
			    width: 50px;
			    height: 20px;
			    display: inline-block;
			    outline: none;
			    background: transparent;
			    border:1px white solid;
			    border-radius: 5px;
			    &:hover {
			      background: #13B8CF;
			      border: 1px #ccc solid;
			    }
			}
		}
		.detail-member-name,
		.detail-member-account,
		.detail-member-position,
		.detail-member-student-id {
			float: right;
		}
	}
}