@import "../modules/variable";
@import "../modules/lib";
.organization-detail-container {
}
.organization-detail {
}
.organization-detail-top {
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	.organization-detail-image-container {
		.organization-detail-image {
			width: 50px;
			height: 50px;
		}
	}
	.organization-detail-setting-image {
		cursor: pointer;		
	}
}

.organization-detail-choices {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row; 
	justify-content: space-around;
	> label {
		flex: 1 1 100%;
		&:hover {
			background: #17AFCA;
		}
	}
	input[type="radio"] {
	    display:none;
	}
	input[type="radio"] + .radio-name {
		display: block;
		width: 100px;
		margin-left: auto;
		margin-right: auto;
	    color: #eee;
	    cursor:pointer;
	    font-size: 15px;
	}
	label {
		border: {
			top:	1px $default-color solid;
			left: 1px $default-color solid;
			right: 1px $default-color solid;
		} 
		padding: 5px;
		margin-top: 5px;
	}
	label:not(:last-of-type){
		border-right: 0;
	}
	input[type="radio"] + .radio-name::before {
		content: '';
	    display:inline-block;
	    width:10px;
	    height:10px;
	    margin:-1px 4px 0 0;
	    vertical-align:middle;
	    cursor:pointer;
	    border-radius:  50%;
	    border: 1px $default-color solid;
	    background-color:transparent;
	}
	input[type="radio"]:checked + .radio-name::before{
	     background-color:#eee;
	}
	input[type="radio"] + .radio-name::before,
	input[type="radio"]:checked + .radio-name::before {
		@include transition(background-color 0.4s linear);
	}
	.choice-container {
		display: flex;
		flex-direction:row;
		justify-content: space-around;
	}
	.add-logo-image {
		width: $add-logo-image-width;
		height: $add-logo-image-height;
		display: inline-block;
		cursor: pointer;
		z-index: 999;
	}
}


.organization-detail-data-container {
	height: $organization-detail-data-container-height;
	border: 1px $default-color solid;
	padding: 5px;
	overflow: auto;
}
