@import "../modules/variable";
@import "../modules/lib";
.user-setting-container {
	padding-left: 3px;
	padding-top: 3px;
}
#user-setting-form {
	list-style: none;
	.user-setting-image-container {
		.user-setting-image {
			width: $user-setting-image-width;
			height: $user-setting-image-height;
		}
	}
	.image-input-container {
	    position: relative;
	    overflow: hidden;
		svg {
			fill: white;
			margin-left: 10px;
			@include scale(1.2);
			cursor: pointer;
		}
		input[name=image] {
			// visibility: hidden;
			width: 0px;
			height: 0px;
		}
	}
	label:not([for=image]) {
		display: inline-block;
		width: 100px;
	}
	input:not([name=image]) {
	    font-size: 15px;
	    color: white;
	    width: 100px;
	    height: 25px;
	    display: inline-block;
	    outline: none;
	    background: transparent;
	    border-bottom:1px white solid;
	    // border-radius: 5px;
	    margin-top: 10px;
	    // padding-left: 10px;
	  }
	  input[type="submit"] {
	    letter-spacing: 2px;
	    border:1px white solid;
	    border-radius: 5px;
	    &:hover {
	      background: #2287B0;
	      border: 1px #ccc solid;
	    }
	  }
}