@import "../modules/variable";
@import "../modules/lib";
.user {
	width: $user-width;
	height: $user-height;
	display: flex;
	flex-direction: row; 
	// justify-content: space-around;
}
.user-left {
	width: $user-left-width;
	height: $user-height;
	// border: 1px white solid;
	border-radius: 5px 0 0 5px;
	border: {
		left:1px white solid;
		top:1px white solid;
		bottom:1px white solid;
		right: 1px white solid;
	}
	padding:15px;
}
.user-right {
	width: $user-right-width;
	height: $user-height;
	border-radius: 0 5px 5px 0;
	border: {
		right:1px white solid;
		top:1px white solid;
		bottom:1px white solid;
	}
	padding:15px;
}
.user-profile {
	margin-left: auto;
	margin-right: auto;
	height: 60px;
	width: 200px;
	> .user-profile-list {
		display: flex;
		flex-direction: row; 
		justify-content: space-between;
		width: 200px;
		list-style: none;
		align-items: flex-end;
		> li {
			display: inline-block;
		}
	}
}
.user-image-container {
	width: $user-image-width + 1;
	height: $user-image-width + 1;
	border: 1px $default-color solid;
	.user-image {
		width: $user-image-width;
		height: $user-image-height;
	}
}
.user-name {
	color: white;
	font-size: $user-name-font-size;
	display: block;
	width: 100px; // username need to be a specifit width
	overflow: hidden;
}
// .user-setting-container {
// 	.user-setting-image {
// 		width: $setting-image-width;
// 		height: $setting-image-height;
// 	}
// }
// .user-logout-container {
// 	// width: $logout-image-width+ 3px;
// 	// height: $logout-image-width + 3px;
// 	.user-logout-image {
// 		width: $logout-image-width;
// 		height: $logout-image-height;
// 		cursor: pointer;
// 	}
// }
.user-dropdown-container {
	width: $dropdown-image-width+ 3px;
	height: $dropdown-image-width + 3px;
	.user-dropdown-image {
		width: $dropdown-image-width;
		height: $dropdown-image-height;
		cursor: pointer;
	}
}
.user-search-container {
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	.user-search-input {
		margin-left: auto;
		margin-right: auto;
	    font-size: 18px;
	    color: white;
	    width: 200px;
	    height: 25px;
	    display: block;
	    outline: none;
	    background: transparent;
	    border:1px white solid;
	    border-radius: 5px;
	    padding-left: 10px;
	}
}
.user-or-organization {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row; 
	justify-content: space-around;
	input[type="radio"] {
	    display:none;
	}
	input[type="radio"] + .radio-name {
	    color: #eee;
	    cursor:pointer;
	    font-size: 15px;
	}
	input[type="radio"] + .radio-name::before {
		content: '';
	    display:inline-block;
	    width:10px;
	    height:10px;
	    margin:-1px 4px 0 0;
	    vertical-align:middle;
	    cursor:pointer;
	    border-radius:  50%;
	    border: 1px $default-color solid;
	    background-color:transparent;
	}
	input[type="radio"]:checked + .radio-name::before{
	     background-color:#eee;
	}
	input[type="radio"] + .radio-name::before,
	input[type="radio"]:checked + .radio-name::before {
		@include transition(background-color 0.4s linear);
	}
}
.user-choices-container {
	margin-left: auto;
	margin-right: auto;
	> ul {
		display: flex;
		flex-direction: row; 
		list-style: none;
		> li {
			flex: 1 1 50%;
			display: inline-block;
			border: {
				top:1px $default-color solid;
				left:1px $default-color solid;
				right:1px $default-color solid;
			}
		}
		> li  img {
			display: block;
			margin-right: auto;
			margin-left: auto;
		}
	}
}

.user-data-container {
	overflow: auto;
	height: $user-data-container-height;
	border: 1px $default-color solid;
}
