@import "../modules/variable";
@import "../modules/lib";

@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
.warning-list {
    list-style: none;
}
.warning:before, .success:before {
    font-family:FontAwesome;
    font-style:normal;
    font-weight:400;
    speak:none;
    display:inline-block;
    text-decoration:inherit;
    width:1em;
    margin-right:.2em;
    text-align:center;
    font-variant:normal;
    text-transform:none;
    line-height:1em;
    margin-left:.2em;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.warning:before {
    content:'\f071';
}
.warning {
  color: #D8000C;
  background: transparent;
}
.success {
    color: #4F8A10;
}
.success:before {
  content:'\f00c';
}