@mixin scale($times) {
	-webkit-transform: scale($times);
	   -moz-transform: scale($times);
	    -ms-transform: scale($times);
	     -o-transform: scale($times);
	        transform: scale($times);
}
.hehe-enter {
  // @include scale(1.2);
  opacity: 0.01;
}

.hehe-enter.hehe-enter-active {
  opacity: 1;
  transition: all 500ms ease-in;
}

.hehe-appear {
  opacity: 0.01;
}

.hehe-appear.hehe-appear-active {
  opacity: 1;
  transition: all .5s ease-in;
}