@font-face {
  font-family: My_Gothic;
  src: url("../font/DidactGothic.ttf"); 
}
@mixin scale($times) {
	-webkit-transform: scale($times);
	   -moz-transform: scale($times);
	    -ms-transform: scale($times);
	     -o-transform: scale($times);
	        transform: scale($times);
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
   color:    white;
   opacity:0.5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:0.5;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:0.5;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
   opacity:0.5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: My_Gothic;
}
html {
  width: 100%;
  height: 100%;
  background:radial-gradient(ellipse farthest-corner at 45px 45px , #00FFFF 0%, #2385AE 50%, #42ABC8 100%);
  background-size: 100%;
}
// @media (min-width: 1000px) {
// }
.app-wrap {
  // width: 900px;  
  margin-left:30px;
  margin-top: 0px;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: nowrap;

}
.app-name {
  position: relative;
  color: #eee;
}
.app-top-buttons {
  margin-top:5px; 
  width: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  list-style: none;
  li a {
    text-decoration: none;
    color:#eee;
    background: transparent;
    border:1px white solid;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    &:hover {
      background: #06EBF2;
      border: 1px #ccc solid;
    }
  }
}


#register-form, #login-form {
  width:400px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  label {
    display: none;
  }
  input {
    font-size: 20px;
    color: white;
    width: 350px;
    height: 40px;
    display: inline-block;
    outline: none;
    background: transparent;
    border:1px white solid;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 10px;
  }
  input[type="submit"] {
    letter-spacing: 2px;
    &:hover {
      background: #2287B0;
      border: 1px #ccc solid;
    }
  }
}







.hehe-enter {
  // @include scale(1.2);
  opacity: 0.01;
}

.hehe-enter.hehe-enter-active {
  opacity: 1;
  transition: all 500ms ease-in;
}

.hehe-appear {
  opacity: 0.01;
}

.hehe-appear.hehe-appear-active {
  opacity: 1;
  transition: all .5s ease-in;
}

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
.warning:before, .success:before {
    font-family:FontAwesome;
    font-style:normal;
    font-weight:400;
    speak:none;
    display:inline-block;
    text-decoration:inherit;
    width:1em;
    margin-right:.2em;
    text-align:center;
    font-variant:normal;
    text-transform:none;
    line-height:1em;
    margin-left:.2em;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.warning:before {
    content:'\f071';
}
.warning {
  color: #D8000C;
    background: transparent;
}
.success {
    color: #4F8A10;
}
.success:before {
  content:'\f00c';
}