@mixin scale($times) {
	-webkit-transform: scale($times);
	   -moz-transform: scale($times);
	    -ms-transform: scale($times);
	     -o-transform: scale($times);
	        transform: scale($times);
}
.base-enter {
  // @include scale(1.2);
  opacity: 0.01;
}

.base-enter.base-enter-active {
  opacity: 1;
  transition: all 500ms ease-in;
}

.base-appear {
  opacity: 0.01;
}

.base-appear.base-appear-active {
  opacity: 1;
  transition: all .5s ease-in;
}