input {
	display: block;
}
form {
	width: 400px;
	margin: 20px auto 0;
	/*border: black solid 1px;*/
}
form label {
	display: inline-block;
	padding: 0;
	margin: 0;
	width: 100px;
	font-size: 20px;
}
form input {
	display: inline-block;
	padding: 0;
	margin-top: 10px;
	width: 300px;
	height: 30px;
	border-radius: 5px;
	outline:0;
}
form input[type='submit'] {
	margin: 10px 100px 0;
	background: #3D3D3A;
	height: 50px;
	width: 200px;
	border-radius: 15px;
	font-size: 25px;
}
